.factuality-bar-container {
  position: relative;
  height: 20px;
  width: 100%;
  background-color: #cecece;
  overflow: hidden;
}

.factuality-bar {
  position: absolute;
  height: 20px;
  width: 90px;
  transform: translateX(-50%);
  transition: width 0.2s linear;
}

.fact:hover {
  cursor: pointer;

  .factuality-bar {
    width: 100px;
  }
}

.article-card {
  min-height: 135px;
  margin-bottom: 1rem;
  border-color: $gray;
}

.span-link {
  font-size: 12px;
  font-weight: 300;
  text-decoration: underline;
}

.source .card-text {
  font-size: 0.8rem;
  margin-bottom: 5px !important;
}

.article-text {
  text-align: justify;
  margin-bottom: 0;
  @include clamp();
  -webkit-line-clamp: 18;
  line-clamp: 18;
}

@keyframes backgroundFade {
  0% {
    background-size: 100% 0%;
  }
  100% {
    background-size: 100% 100%;
  }
}

.articles-list-card {
  border: none;
  background: linear-gradient(to bottom, $gray 0%, $gray 100%);
  background-size: 100% 0%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-out;

  &:hover {
    cursor: pointer;
    background-size: 100% 100%;
  }

  .card-body {
    padding: 0;
  }
  .top-wrapper {
    padding: 0.5rem;
    background-color: $gray;
    border-radius: 6px;
  }
  .badge {
    padding: 0.5rem;
    font-weight: 600;
  }
  .fact-badge {
    background-color: #a6b1b0 !important;
  }
  .bias-badge {
    background-color: #a6b1b0 !important;
  }

  .fact-badge:hover,
  .bias-badge:hover {
    cursor: pointer;
  }

  button {
    border-radius: 75px;
    padding: 4px 15px 4px 5px;
  }
  .source-logo {
    width: 30px;
    border-radius: 99px;
  }
  h6 {
    margin: 0 0 0 10px;
    font-size: 14px;
  }

  .card-text {
    @include clamp();

    -webkit-line-clamp: 3;
    line-clamp: 3;
    text-align: justify;
    margin-bottom: 0.5rem;
  }

  a:hover p,
  a:hover h3,
  a:hover h5 {
    text-decoration: none;
  }

  div:nth-of-type(2) {
    padding-right: 0.5rem;
    span {
      font-size: 12px;
      font-weight: 300;
    }
  }
}

.article-selection {
  display: flex;
  justify-content: start;
  gap: 3rem;
  align-items: center;

  .badge {
    margin-left: 0.5rem;
    vertical-align: middle;
    background-color: $gray !important;
    color: rgb(136, 136, 136);
    padding: 4px;
  }
}
.nav-item a {
  color: $black;
  text-decoration: #ffc107;
}
