.factuality-bar-container {
  position: relative;
  height: 20px;
  width: 100%;
  background-color: $greenish;
  overflow: hidden;
}

.factuality-bar {
  position: absolute;
  height: 20px;
  width: 90px;
  transform: translateX(-50%);
  transition: width 0.2s linear;
}

.fact:hover {
  cursor: pointer;

  .factuality-bar {
    width: 100px;
  }
}

.article-card {
  min-height: 135px;
  margin-bottom: 1rem;
  border-color: $gray;

  .card-body {
    padding-block: 0rem;
  }
}

.s-logo {
  border-radius: 99px;
  aspect-ratio: 1;
}

.span-link {
  font-size: 12px;
  font-weight: 300;
  text-decoration: underline;
}

.source .card-text {
  font-size: 0.8rem;
  margin-bottom: 5px !important;
}

.article-text {
  text-align: justify;
  margin-bottom: 0;
  @include clamp();
  -webkit-line-clamp: 22;
  line-clamp: 22;
}

@keyframes backgroundFade {
  0% {
    background-size: 100% 0%;
  }
  100% {
    background-size: 100% 100%;
  }
}

.articles-list-card {
  border: none;
  background: linear-gradient(to bottom, $light 0%, $light 100%);
  border-radius: 16px;
  background-size: 100% 20%;
  background-repeat: no-repeat;
  transition: all 0.5s ease-out;

  &:hover {
    cursor: pointer;
    background-size: 100% 100%;

    .top-wrapper {
      background-color: transparent;
      box-shadow: none;
    }
  }

  .card-body {
    padding: 0;
  }
  .top-wrapper {
    padding: 0.5rem;
    background-color: $gls;
    border-radius: 16px;
    @include glass();
  }
  .badge {
    padding: 0.5rem;
    font-weight: 600;
  }
  .fact-badge,
  .bias-badge {
    background-color: $light !important;
    color: $text;
    transition: box-shadow 0.3s ease;

    i {
      color: #46526b;
    }
  }

  .fact-badge:hover,
  .bias-badge:hover {
    cursor: pointer;
    box-shadow: 3px 3px 12px $light-up, -3px -3px 12px $light-down;
    background: #ffffff;
  }

  button {
    border-radius: 75px;
    padding: 4px 15px 4px 5px;
    background-color: $light;
    color: $black;
    transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;

    &:hover,
    &:active {
      box-shadow: 3px 3px 12px $light-up, -3px -3px 12px $light-down;
      color: inherit;
      background-color: #fefefe;
    }
    &:active {
      box-shadow: 1px 1px 8px $light-up, -1px -1px 8px $light-down !important;
      color: inherit !important;
      background-color: #fefefe !important;
      border: 1px solid transparent !important;
    }
  }
  .source-logo {
    width: 30px;
    border-radius: 99px;
  }
  h6 {
    margin: 0 0 0 10px;
    font-size: 14px;
  }

  .card-text {
    @include clamp();

    -webkit-line-clamp: 3;
    line-clamp: 3;
    text-align: justify;
    margin-bottom: 0.5rem;
  }

  a:hover p,
  a:hover h3,
  a:hover h5 {
    text-decoration: none;
  }

  div:nth-of-type(2) {
    padding-right: 0.5rem;
    span {
      font-size: 12px;
      font-weight: 300;
    }
  }
}

.article-selection {
  display: flex;
  justify-content: start;
  gap: 1.2rem;
  align-items: center;
  @include glass();
  border-radius: 6px;
  padding-block: 0.5rem;

  .badge {
    background-color: $gray !important;
    color: $greenish;
    min-width: 20px !important;
    padding: 2px;
  }

  .nav-item:not(:nth-of-type(1)) {
    @include neu-btn($light);
    @include neu-card($light);
    transition: all 0.3s ease-in-out;
    padding-block: 4px !important;
  }
  .nav-item:nth-of-type(2) {
    width: 50px;
  }
  .nav-link {
    padding: 0;
    color: $text;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover,
    &:focus {
      border-bottom: none;
    }
  }

  .nav-link.active {
    color: $primary;
    border-bottom: none;

    .badge {
      color: $primary;
    }
  }
}

.info-card {
  @include neu-card($background);
}

.info-card:nth-of-type(2) {
  min-height: 160px;

  a {
    text-decoration: underline;
    color: $primary;
    padding: 3px;
    border-radius: 3px;
    transition: color 0.3s ease, background-color 0.3s ease;

    &:hover {
      background-color: $primary;
      color: $light;
    }
  }
  .fake-bar {
    width: 100%;
    height: 25px;
    background-color: $greenish;
  }
}
