//bias bar

.bias-bar.left {
  background-color: $left;
}

.bias-bar.center {
  background-color: $gray;

  .percentage-text {
    color: $black;
  }
}

.bias-bar.right {
  background-color: $right;
}

.left-card {
  @include bias();

  .bias-bar-container {
    width: 100%;
    height: 20px;
  }
  .percentage-text {
    color: $main;
    font-size: 14px;
  }
}

.hero-wrapper {
  @include bias();

  .bias-bar-container {
    position: absolute;
    bottom: 0;
    z-index: 3;
    width: 100.1%;
    height: 25px;
  }
  .percentage-text {
    color: $main;
    font-size: 14px;
  }
}

.central-card,
.right-card,
.article-card {
  @include bias();

  .bias-bar-container {
    width: 35%;
    height: 10px;
  }

  .percentage-text {
    color: $main;
    font-size: 10px;
  }

  .bias-bar.center {
    background-color: $white;
    width: 34%;
  }
}

.article-card {
  .bias-bar-container {
    width: 100%;
    height: 25px;
  }
  .percentage-text {
    font-size: 14px;
  }
}
