//bias bar

.bias-bar.left {
  background-color: $left;
  background-image: linear-gradient(to right, $left 85%, white);
}

.bias-bar.center {
  background-color: white;

  .percentage-text {
    color: $black;
  }
}

.bias-bar.right {
  background-color: $right;
  background-image: linear-gradient(to left, $right 85%, white);
}

.left-card {
  @include bias();

  .bias-bar-container {
    width: 100%;
    height: 20px;
  }
  .percentage-text {
    color: $main;
    font-size: 14px;
  }
}

.hero-wrapper {
  @include bias();

  .bias-bar-container {
    position: absolute;
    bottom: 0;
    z-index: 3;
    width: 100.1%;
    height: 25px;
  }
  .percentage-text {
    color: $main;
    font-size: 14px;
  }
}

.central-card,
.right-card,
.article-card {
  @include bias();

  .bias-bar-container {
    width: 35%;
    height: 10px;
  }

  .percentage-text {
    color: $main;
    font-size: 10px;
  }

  .bias-bar.center {
    width: 34%;
  }
}

.article-card {
  .bias-bar-container {
    width: 100%;
    height: 25px;
  }
  .percentage-text {
    font-size: 14px;
  }
}

.right-card {
  .bias-bar-container {
    width: 100%;
  }
  span {
    display: none;
  }
}

.central-card {
  &:hover {
    background-color: $light;
    .bias-bar-container {
      transform: scaleY(1.3);
    }
    .bias-bar {
      transform: scaleY(1.2);
    }

    .percentage {
      opacity: 1;
      transform: translateX(10px);
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }
  }
  .bias-bar-container {
    width: 60%;
    height: 6px;
    transition: transform 0.2s ease-in;
    transform-origin: center;
    border-radius: 75px;
    @include neu-bar($background);

    span {
      opacity: 0;
    }
  }
  .percentage {
    opacity: 0;
  }
  .bias-bar {
    transition: transform 0.2s ease-in;
  }
}

.right-card {
  .bias-bar-container {
    @include neu-bar($background);
  }
}
