//bias bar

.bias-bar.left {
  background-color: $left;
}

.bias-bar.center {
  background-color: white;

  .percentage-text {
    color: $black;
  }
}

.bias-bar.right {
  background-color: $right;
}

.left-card {
  @include bias();

  .bias-bar-container {
    width: 100%;
    height: 20px;
  }
  .percentage-text {
    color: $main;
    font-size: 14px;
  }
}

.hero-wrapper {
  @include bias();

  .bias-bar-container {
    position: absolute;
    bottom: 0;
    z-index: 3;
    width: 100.1%;
    height: 25px;
  }
  .percentage-text {
    color: $main;
    font-size: 14px;
  }
}

.central-card,
.right-card,
.article-card {
  @include bias();

  .bias-bar-container {
    width: 35%;
    height: 10px;
  }

  .percentage-text {
    color: $main;
    font-size: 10px;
  }

  .bias-bar.center {
    width: 34%;
  }
}

.article-card {
  .bias-bar-container {
    width: 100%;
    height: 25px;
  }
  .percentage-text {
    font-size: 14px;
  }
}

.right-card,
.central-card {
  &:hover {
    .bias-bar-container {
      transform: scaleY(1.33);
    }
    .bias-bar {
      transform: scaleY(1.33);
    }
  }

  .bias-bar-container {
    width: 100%;
    height: 6px;
    transition: transform 0.2s ease-in;
    transform-origin: center;
    border-radius: 75px;
  }
  span {
    display: none;
  }
  .bias-bar {
    transition: transform 0.2s ease-in;
  }
}

.central-card {
  &:hover {
    .bias-bar-container {
      transform: scaleY(1.9);
    }
    .bias-bar {
      transform: scaleY(1.6);
    }
    span {
      opacity: 1;
      transform: none;
      position: relative;
    }
  }
  .bias-bar-container {
    width: 100%;
  }
  span {
    transition: opacity 0.3 ease;
    opacity: 0;
    position: relative;
    transform: none;
  }
}
