.login-btn {
  @include neu-btn(#bfb9e0);
  color: $light;
  background-color: $primary;

  &:hover {
    color: $light;
    background: $primary;
  }
  &:active {
    color: $primary !important;
  }
}

.whi-btn {
  @include neu-btn($light);
}

.accent-btn {
  @include neu-btn($light);

  &:hover {
    color: $primary;
  }
  &:active {
    color: $primary !important;
  }
}

.del-btn {
  @include neu-btn($light);
  color: $danger;

  &:hover {
    color: $light;
    background: $danger;
    box-shadow: 4px 4px 12px $danger-down, -4px -4px 12px $danger-up;
  }
  &:active {
    color: $light !important;
    background: $danger !important;
    box-shadow: inset 4px 4px 8px $danger-down, inset -4px -4px 8px $danger-up !important;
  }
}

.blk-btn {
  @include neu-btn(#403f4867);
  color: $light;
  background-color: $black;
  padding: 0 !important;
  font-weight: 300 !important;
  &:hover {
    color: $light;
    background-color: $black;
    box-shadow: 2px 2px 8px #000000, -2px -2px 8px #686868;
  }
  &:active {
    color: $light !important;
    background-color: #404040 !important;
  }
}

.more-btn {
  @include neu-btn(#ffffff92);
  color: #404040;
  &:hover {
    color: #404040;
  }
  &:active {
    color: #404040 !important;
  }
}

.btn-source {
  background-color: #a6b1b0;
  border: 1px solid transparent;

  &:hover {
    background-color: #8c9897;
    border: 1px solid transparent;
  }
}
