.signup-button,
.login-button {
  border: 1px solid transparent;
  width: 100px;
  padding-inline: 10px;
  color: #fff;

  --bs-btn-active-color: #fff;

  &:hover,
  &:active,
  &:focus-visible {
    border: 1px solid transparent;
    color: #fff;
    background-color: rgb(109, 89, 223);
  }
}
.login-button {
  color: $black;
  border: 1px solid $gray;
  --bs-btn-active-color: #2a2a2a;
  --bs-btn-active-bg: #eaeaea;
  --bs-btn-active-border-color: transparent;

  background-color: transparent;

  &:hover,
  &:active,
  &:focus,
  &:focus-visible {
    border: 1px solid $gray;
    color: $black;
  }
  &:hover {
    background-color: $gray;
    border: 1px solid $gray;
  }
}

.btn-ct {
  background-color: transparent;
  border: 1px solid $black;
  color: $black;
  padding-block: 5px;
}

.btn-source {
  background-color: #a6b1b0;
  border: 1px solid transparent;

  &:hover {
    background-color: #8c9897;
    border: 1px solid transparent;
  }
}

.del-btn {
  background-color: transparent;
  border: 1px solid $left;
  color: $left;

  &:hover {
    border: 1px solid $left;
    background-color: $left;
    color: #fff;
  }
}
