//app navbar
.app-navbar {
  position: fixed;
  top: 40px;
  z-index: 1000;
  width: 100%;
  height: 70px;

  @include glass();

  transition: top 0.4s ease-in-out;

  .nav-link:hover {
    color: $primary;
  }
}
.app-navbar.scrolled {
  top: 0 !important;
}

.nav-wrap {
  position: relative;
  height: 70px;
  margin-bottom: 1rem;
}

//nav dropdown
.dropdown-menu {
  padding: 0.5rem;

  @include glass();
  background: $light;

  .dropdown-item {
    padding: 4px 14px;
    min-width: 160px !important;
    &:hover {
      background-color: $gray;
      border-radius: 2px;
    }
  }
  a {
    font-size: 16px;
    text-align: start;
    text-decoration: none;
  }
  i {
    color: $black !important;
    transition: color 0.3s ease-out;
    &:hover {
      color: $primary !important;
    }
  }
}

.first-dropdown:hover {
  color: $primary;
}
.dropdown-menu[data-bs-popper] {
  top: 140%;
}

//nav-propic
.propic-wrap {
  @include propic-wrapper(46px);
  transition: box-shadow 0.3s ease-in-out;
  outline: 3px solid #fff;

  &.dropdown-open {
    box-shadow: 0px 0px 20px #ffffff;
  }
}
.propic {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 3px;
  left: 3px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;

  &.dropdown-open {
    transform: scale(1.1);
  }
}
.dropdown-toggle {
  height: 46px;
  width: 46px;
  cursor: auto;
}

.active-sc {
  font-weight: 600;
  color: $primary;
}
.nav-logo {
  width: 70px;
}

.drop-name {
  font-size: 14px;
  font-weight: 600;
}
.drop-email {
  color: $primary;
}
.drop-span {
  font-size: 12px;

  span {
    margin-right: 8px;
  }

  &:hover {
    cursor: pointer;
  }
}

.color-mode {
  span {
    font-size: 13px;
    color: $black !important;
  }
}

.square {
  height: 50px;
  background-color: $background;
  border-radius: 8px;
}
.active-color {
  border: 2px solid $primary;
}
.transparent {
  background-color: transparent;
  border: none;
  &:hover,
  &:active,
  &:focus-visible {
    background-color: inherit !important;
    border: inherit !important;
    box-shadow: none !important;
  }
}
.dropdown-toggle::after {
  border: none;

  .propic {
    outline: 2px solid $primary;
  }
}

.decoration {
  text-align: center;
  height: 40px;
  overflow: hidden;

  img {
    margin: 0;
    width: 100%;
    object-fit: contain;
    position: relative;
    opacity: 0.5;
    top: -179px;
    animation: moveBackground 0.5s infinite;
  }
  h4 {
    font-size: 18px;
    position: absolute;
    z-index: 1;
    left: 40%;
    top: 10px;
    background-color: rgba(255, 255, 255, 0.569);
  }
}

//search bar

.form-control {
  border-radius: 0 75px 75px 0;
  border: 1px solid $background;
  background-color: $light;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;

  &:focus {
    border: 1px solid $background;
    box-shadow: none;
    outline: none;
    background-color: $light;
  }
}

.input-group {
  $dark-shadow: darken($background, 15%);
  $light-shadow: lighten($background, 15%);

  @include neu-btn($background);
  padding: 4px !important;
  width: 100%;
  border-radius: 75px;
  border: 1px solid $background;
  background-color: $background;
  display: flex;
  align-items: center;
  transition: box-shadow 0.2s ease, border-color 0.2s ease;

  &:focus-within {
    border: 1px solid $background;
    box-shadow: inset 4px 4px 8px $dark-shadow, inset -4px -4px 8px $light-shadow;
    color: darken($background, 80%) !important;
    background-color: $background !important;
  }

  .input-group-text {
    border-radius: 75px 0 0 75px;
    background-color: $light;
    border: 1px solid $background;
    border-right: none;
  }

  .form-control {
    border-left: none;
  }
}

//badges
.badge.bg-primary {
  background-color: $black !important;
}

//footer
.footer-wrapper {
  background-color: rgb(23, 23, 23);
}
footer {
  color: #fff;
  position: relative;

  .f-bg {
    position: absolute;
    width: 50%;
    left: -100px;
    top: 0;
  }

  a {
    color: #fff !important;
    padding: 0 !important;
  }

  li {
    font-size: 13px;
    font-weight: 500;
    &:hover {
      text-decoration: underline;
    }
  }
  .li-title {
    font-size: 16px;
    font-weight: 600;
  }

  span {
    font-size: 13px;
    font-weight: 500;
  }

  p {
    font-weight: 600;
  }

  .logo {
    width: 60%;
  }

  .social-link {
    i {
      color: #fff;

      &:hover {
        color: $primary;
      }
    }
  }
}

//card link
a {
  text-decoration: none;
  color: inherit;
  &:hover p,
  &:hover h3,
  &:hover h5 {
    text-decoration: underline;
  }
}
.carousel-link {
  &:hover p {
    text-decoration: none;
  }
}
.s-cards-link {
  &:hover h5 {
    text-decoration: none;
  }
}

//general flex
.flex {
  display: flex;
  align-items: center;
}

//sentiment bar
.sentiment-bar-container {
  margin-top: 1rem;
  border-radius: 4px;
  position: relative;
  background-color: $main;
  height: 15px;
  width: 100%;
  overflow: hidden;
}

.sentiment-bar {
  height: 100%;
  width: calc(var(--sentiment-percentage, 0%)) !important;
  transition: width 0.3s ease;
}

.sentiment-percentage {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
}
