navbar .navbar {
  // position: fixed;
  // top: 0;
  // z-index: 1000;
  // width: 100%;
}

.dropdown-menu {
  padding-inline: 5px;
  border-top-right-radius: 0px;
  padding-inline: 0.5rem;

  .dropdown-item {
    padding: 4px 14px;
    min-width: 160px !important;
    &:hover {
      background-color: $info;
      border-radius: 2px;
    }
  }
  a {
    font-size: 16px;
    text-align: start;
    text-decoration: none;
  }
}
.first-dropdown:hover {
  color: $info;
}

.propic {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.active {
  color: $primary;
}
.nav-logo {
  width: 70px;
}

//decorative nav
.decoration {
  text-align: center;
  height: 40px;
  overflow: hidden;

  img {
    margin: 0;
    width: 100%;
    object-fit: contain;
    position: relative;
    opacity: 0.4;
    top: -135px;
    animation: moveBackground 0.5s infinite;
  }
  h4 {
    font-size: 18px;
    position: absolute;
    z-index: 1;
    left: 40%;
    top: 10px;
    background-color: rgba(255, 255, 255, 0.569);
  }
}

//search bar

.form-control {
  border-radius: 2px;
  border: 1px solid $gray;
  background-color: $gray;

  &:focus {
    border: 1px solid $gray;
    box-shadow: none;
    outline: none;
    background-color: $gray;
  }
}
.input-group:focus-within,
.input-group:focus-visible {
  box-shadow: none;
  border: none;
  background-color: $gray;
}
.input-group {
  .input-group-text {
    border-radius: 2px;
    background-color: $gray;
    border: 1px solid $gray;
    border-right: none;
  }
}

//badges
.badge.bg-primary {
  background-color: $black !important;
}

//footer
.footer-wrapper {
  background-color: $dark;
}
footer {
  color: #fff;

  a {
    color: #fff !important;
    padding: 0 !important;
  }

  li {
    font-size: 13px;
    font-weight: 500;
    &:hover {
      text-decoration: underline;
    }
  }
  .li-title {
    font-size: 16px;
    font-weight: 600;
  }

  span {
    font-size: 13px;
    font-weight: 500;
  }

  p {
    font-weight: 600;
  }

  .logo {
    width: 60%;
  }

  .social-link {
    i {
      color: #fff;

      &:hover {
        color: $info;
      }
    }
  }
}

//card link
a {
  text-decoration: none;
  color: inherit;
  &:hover p,
  &:hover h3,
  &:hover h5 {
    text-decoration: underline;
  }
}
.carousel-link {
  &:hover p {
    text-decoration: none;
  }
}
.s-cards-link {
  &:hover h5 {
    text-decoration: none;
  }
}

//general flex
.flex {
  display: flex;
  align-items: center;
}

//sentiment bar
.sentiment-bar-container {
  margin-top: 1rem;
  border-radius: 4px;
  position: relative;
  background-color: $main;
  height: 15px;
  width: 100%;
  overflow: hidden;
}

.sentiment-bar {
  height: 100%;
  width: calc(var(--sentiment-percentage, 0%)) !important;
  transition: width 0.3s ease;
}

.sentiment-percentage {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
}
