.background-login {
  h1 {
    color: $info;
    font-weight: 300;
    margin-block: 3rem 2.5rem;
  }

  .form-label {
    font-size: 15px;
    font-weight: 600;
  }

  .form-control {
    padding: 0.8rem;
    border: 1px solid transparent;
  }

  @media (max-width: $sm) {
    .form-control {
      width: 100%;
    }
  }

  h6 {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  p {
    margin-top: 1rem;
    font-size: 12px;
    opacity: 80%;
    span {
      color: $info;
      font-weight: 700;
      &:hover {
        text-decoration: underline $info;
        cursor: pointer;
      }
    }
  }
  button {
    width: 100%;
    padding-block: 0.7rem;
  }
  .join-btn {
    margin-bottom: 3rem;
    background: transparent;
    color: $black;
    border: 1px solid $gray;

    &:hover {
      background: $gray;
    }
  }
  .img-col {
    user-select: none;
  }

  .notice {
    min-height: 75vh;
  }
}

//nav
.simple-navbar {
  height: 70px;
}

.simple-nav {
  margin-bottom: 1rem;
  background-color: $background;
  box-shadow: none;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 70px;

  i {
    font-size: 18px;
    color: $dark;

    &:hover {
      cursor: pointer;
      color: $info;
    }
  }
  i::before {
    font-weight: 600 !important;
  }
}

//personal page
.user-page {
  min-height: 80vh;
  padding-top: 90px;

  hr {
    color: rgba(174, 174, 174, 0.904);
    margin-block: 10px;
  }

  h4 {
    color: $info;
  }
  .propic {
    height: 100px;
    width: 100px;
    object-fit: cover;
  }

  .guide:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .up-btn {
    border: 1px solid $info;
    background-color: $info;
    color: #fff;

    &:hover {
      background-color: rgb(109, 89, 223);
      color: #fff;
    }
  }

  .user-aside {
    position: fixed;
    top: 90px;
    height: calc(95vh - 70px);

    background: rgba(255, 255, 255, 0.32);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    h6 {
      margin: 0;
    }
    i {
      font-size: 20px;
    }
    div {
      padding: 5px 10px;
      border-radius: 6px;
    }

    div:hover {
      cursor: pointer;
      background-color: $gray;
    }

    .user-active {
      background-color: $info;
      color: #fff;

      &:hover {
        background-color: rgb(109, 89, 223);
      }
    }
  }
}

.placeholder-button {
  width: 100px;
  height: 38px;
  border-radius: 5px;
}

.form-floating-label {
  position: relative;
}

.form-floating-label input {
  padding-block: 0.75rem;
  margin-bottom: 2rem;
  border: 1px solid transparent;
  border-radius: 8px;
}

.form-floating-label label {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  font-size: 14px;
  color: #6c757d;
  transition: all 0.2s;
  pointer-events: none;
}

.form-floating-label input:focus + label,
.form-floating-label input:not(:placeholder-shown) + label {
  top: -0.5rem;
  left: 0.75rem;
  font-size: 12px;
  color: #fff;
  background-color: $info;
  border-radius: 75px;
  padding-inline: 12px;
}

.form-floating-label input:focus {
  border-color: $info;
}

.modal-body {
  margin: 3rem 2rem 2rem;
  padding: 0;
}

.modal-content {
  background: rgba(255, 255, 255, 0.597);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.3px);
  -webkit-backdrop-filter: blur(9.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.modal-backdrop.fade {
  opacity: 0.5;
}

.mini-footer {
  padding-left: 23%;

  .logo {
    width: 80%;
  }
}
