.background-login {
  h1 {
    color: $primary;
    font-weight: 300;
    margin-block: 3rem 2.5rem;
  }

  .form-label {
    font-size: 15px;
    font-weight: 600;
  }

  .form-control {
    padding: 0.8rem;
    border: 1px solid transparent;

    @include neu-form($gray);
  }

  @media (max-width: $sm) {
    .form-control {
      width: 100%;
    }
  }

  h6 {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  h4:first-of-type {
    color: $primary;
  }
  h4:nth-of-type(2) {
    font-size: 18px;
  }
  h4 {
    font-weight: 400;
  }

  p {
    margin-top: 1rem;
    font-size: 12px;
    opacity: 80%;
    span {
      color: $primary;
      font-weight: 700;
      &:hover {
        text-decoration: underline $primary;
        cursor: pointer;
      }
    }
  }
  button {
    width: 100%;
    padding-block: 0.7rem;
    height: 44px;
  }
  .join-btn {
    margin-bottom: 3rem;
    background: transparent;
    color: $black;
    border: 1px solid $gray;

    &:hover {
      background: $gray;
    }
  }
  .img-col {
    user-select: none;
  }

  .notice {
    min-height: 85vh;
  }
  .notice-box {
    padding: 3rem;
    @include glass();
  }
}

//nav
.simple-navbar {
  height: 70px;
}

.simple-nav {
  margin-bottom: 1rem;
  background-color: $background;
  box-shadow: none;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 70px;

  .icon-wrap {
    background: #e0e0e0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.3s ease, background-image 0.3s ease;
    background-image: linear-gradient(145deg, #ffffff, #d1d9e6);
    box-shadow: 3px 3px 16px #d1d9e6, -3px -3px 16px #ffffff;

    &:hover {
      cursor: pointer;
      background: $background;
      box-shadow: inset 3px 3px 16px #d1d9e6, inset -3px -3px 16px #ffffff;

      i {
        color: $primary;
      }
    }

    i {
      color: #6c757d;
      font-size: 20px;
    }
  }
}

//personal page
.user-page {
  min-height: 80vh;
  padding-top: 90px;

  hr {
    color: rgba(174, 174, 174, 0.904);
    margin-block: 10px;
  }

  h4 {
    color: $primary;
  }
  .propic-wrapper {
    @include propic-wrapper(120px);
    outline: 4px solid #fff;
    margin-left: 4px;
  }

  .propic {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 110px;
    width: 110px;
  }

  .guide:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .up-btn {
    border: 1px solid $primary;
    background-color: $primary;
    color: #fff;

    &:hover {
      background-color: rgb(109, 89, 223);
      color: #fff;
    }
  }

  .user-aside {
    position: fixed;
    z-index: 10;
    top: 90px;
    height: calc(95vh - 70px);

    @include glass();

    h6 {
      margin: 0;
    }
    i {
      font-size: 20px;
    }
    div {
      padding: 5px 10px;
      border-radius: 6px;
    }

    div:hover {
      cursor: pointer;
      background-color: $gray;
    }

    .user-active {
      background-color: $primary;
      color: #fff;

      &:hover {
        background-color: rgb(109, 89, 223);
      }
    }
  }
}

.placeholder-button {
  width: 100px;
  height: 38px;
  border-radius: 5px;
}

.form-floating-label {
  position: relative;
}

.form-floating-label input {
  padding-block: 0.75rem;
  margin-bottom: 2rem;
  border: 1px solid transparent;
  border-radius: 8px;
}

.form-floating-label label {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  font-size: 14px;
  color: #6c757d;
  transition: all 0.2s;
  pointer-events: none;
}

.form-floating-label input:focus + label,
.form-floating-label input:not(:placeholder-shown) + label {
  top: -0.5rem;
  left: 0.75rem;
  font-size: 12px;
  color: #fff;
  background-color: $primary;
  border-radius: 75px;
  padding-inline: 12px;
}

.form-floating-label input:focus {
  border-color: $primary;
}

.modal-body {
  margin: 3rem 2rem 2rem;
  padding: 0;
}

.modal-content {
  @include glass();
  background: rgba(255, 255, 255, 0.597);
}

.modal-backdrop.fade {
  opacity: 0.5;
}

.mini-footer {
  .wrap {
    position: relative;
  }
  .logo {
    width: 100%;
    position: absolute;
    top: 0;
    left: -35px;
  }
}
