@mixin clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
}

@mixin bias {
  .bias-bar-container {
    display: flex;
    background-color: #e0e0e0 !important;
    border-radius: 10px;
    overflow: hidden;
    border-radius: 0;
  }
  .bias-bar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@mixin sentbar {
  &:hover .sentiment-bar {
    width: calc(var(--sentiment-percentage, 0%) + 10px) !important;
  }
}

@mixin scrollbar-style {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 6px;
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: rgba(71, 64, 76, 0.191);
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(76, 67, 97, 0.333);
  }
}

@mixin glass {
  background: $gls;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.4px);
  -webkit-backdrop-filter: blur(9.4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@mixin glass-hover($gls, $border-color: rgba(255, 255, 255, 0.3)) {
  border: 1px solid transparent;
  background: linear-gradient(to bottom, $gls 0%, $gls 100%);
  background-size: 100% 0%;
  background-repeat: no-repeat;
  height: 100px;
  margin-bottom: 7px;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  transition: background-size 0.5s ease-out, backdrop-filter 0.7s ease-out 0.5s, border 0.7s ease-out;

  &:hover {
    cursor: pointer;
    background-size: 100% 100%;
    border: 1px solid $border-color;
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);
  }
}

@mixin neu-btn($color, $darken: 15%, $lighten: 15%) {
  $dark-shadow: darken($color, $darken);
  $light-shadow: lighten($color, $lighten);

  width: 100px;
  font-weight: 500;
  padding-inline: 10px !important;
  padding-block: 8px !important;

  background: $color;
  border: none;
  border-radius: 12px;
  box-shadow: 3px 3px 12px $dark-shadow, -3px -3px 12px $light-shadow;
  color: darken($color, 60%);
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease;

  &:hover,
  &:focus-visible {
    box-shadow: 2px 2px 8px $dark-shadow, -2px -2px 8px $light-shadow;
    transform: translateY(2px);
    color: darken($color, 60%);
    background-color: $color;
  }

  &:active {
    box-shadow: inset 4px 4px 8px $dark-shadow, inset -4px -4px 8px $light-shadow;
    color: darken($color, 80%) !important;
    background-color: $color !important;
  }
}

@mixin neu-form($color, $darken: 15%, $lighten: 15%) {
  $dark-shadow: darken($color, $darken);
  $light-shadow: lighten($color, $lighten);

  background: $color;
  border: none;
  border-radius: 6px;
  box-shadow: 3px 3px 12px $dark-shadow, -3px -3px 12px $light-shadow;
  color: darken($color, 60%);
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

@mixin neu-card($color, $darken: 15%, $lighten: 15%) {
  $dark-shadow: darken($color, $darken);
  $light-shadow: lighten($color, $lighten);

  background: $color;
  border-radius: 12px;
  box-shadow: 8px 8px 16px $dark-shadow, -8px -8px 16px $light-shadow;
  color: darken($color, 60%);
  padding: 20px;
  transition: box-shadow 0.2s ease, transform 0.2s ease;

  &:hover {
    box-shadow: 4px 4px 8px $dark-shadow, -4px -4px 8px $light-shadow;
    transform: translate(-2px, -2px);
  }
}

@mixin neu-bar($background, $shadow-dark-percentage: 15%, $shadow-light-percentage: 20%) {
  $shadow-dark: darken($background, $shadow-dark-percentage);
  $shadow-light: lighten($background, $shadow-light-percentage);

  height: 12px;
  border-radius: 20px;
  background-color: $background;
  box-shadow: inset 7px 7px 14px $shadow-dark, inset -7px -7px 14px $shadow-light;
  padding: 4px;
  display: flex;
  overflow: hidden;

  .left {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .right {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

@mixin propic-wrapper($wrapper-size: 100px, $background-color: transparent, $hover-color: $info) {
  background: $background-color;
  border-radius: 100%;
  box-shadow: inset 7px 7px 14px #d4d6d9, inset -7px -7px 14px #ffffff;
  height: $wrapper-size;
  width: $wrapper-size;
  overflow: hidden;
  position: relative;
  transition: background-color 0.3s ease-in;
}
