@mixin clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
}

@mixin bias {
  .bias-bar-container {
    display: flex;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    border-radius: 0;
  }
  .bias-bar {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@mixin sentbar {
  &:hover .sentiment-bar {
    width: calc(var(--sentiment-percentage, 0%) + 10px) !important;
  }
}

@mixin scrollbar-style {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 6px;
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: rgba(80, 80, 80, 0.3);
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(30, 30, 30, 0.333);
  }
}

@mixin glass {
  background: rgba(255, 255, 255, 0.32);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.4px);
  -webkit-backdrop-filter: blur(9.4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
