//carousel
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
}

.blinking {
  animation: blink 3s infinite;
}

.carousel {
  position: relative;
  .c-pic {
    height: 45vh;
    object-fit: cover;
  }
  .hero-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(to top, $black, transparent);
    z-index: 1;
  }
  .carousel-caption {
    z-index: 2;
  }
  p {
    @include clamp();
    -webkit-line-clamp: 1;
    line-clamp: 1;
  }
  h3 {
    @include clamp();
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }
}

//central card
.central-bottom {
  .central-card {
    border-radius: 0px;

    .card-body {
      padding: 0 !important;
      margin-right: 1rem;
    }

    .sentiment-bar-container {
      margin-top: 0;
      border-radius: 2px;
      height: 12px;
      width: 50%;
    }

    @include sentbar();

    .sentiment-percentage {
      font-size: 11px;
    }
  }
  .central-card-pic {
    border-radius: 0px;
  }
}

//right section
.left-card-trending {
  margin-bottom: 1rem;

  @include neu-btn($light);
  @include sentbar();

  .card-body {
    margin-inline: 0.5rem;
    padding-bottom: 0.5rem;
    height: 100%;
    min-height: 130px;
  }
  h6 {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 14px;
    @include clamp();
    -webkit-line-clamp: 1;
    line-clamp: 1;
  }
  h5 {
    @include clamp();
    -webkit-line-clamp: 2;
    line-clamp: 2;
    min-height: 48px;
  }
  .left-card-pic-container {
    height: 200px;
    overflow: hidden;
  }
  img {
    object-fit: cover;
    object-position: center;
    height: 200px;
  }

  .body-wrapper {
    position: relative;
  }
  .source-pic {
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
    border-radius: 99px;
    position: absolute;
    z-index: 2;
    right: 0;
    top: -40px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.4s ease-out;
  }
  &:hover .source-pic {
    opacity: 1;
    transform: translateY(0);
  }
}

.trending-left-aside {
  padding-bottom: 8px;
  @include scrollbar-style;
  min-height: 80vh;
}
